<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Weather Forecast</h1>
    <h2>Home Page</h2>
    <hr>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add</button>
    </form>
    <hr>

    {% for i in city_data %}
        {{i.city}}<br>
        <img src="http://openweathermap.org/img/w/{{ i.icon }}.png" alt="icon"><br>
        {{i.temperature}}<br>
        {{i.description}}<hr>
    {% endfor %}
        
</body>
</html>